@import "tailwindcss";

@layer base {
  body {
    @apply font-sans px-2 pb-14;
  }
}

.generating::after {
  content: '▋';
  animation: fade-cursor ease-in-out 500ms infinite alternate;
}

@keyframes fade-cursor {
  from {
    opacity: 25%;
  }
  to {
    opacity: 100%;
  }
}

@import 'tailwindcss';
